.toggle-auth{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.login-btn{
  padding: 5px;
  width: 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
  background-color:#fdf9b1d0;
}

.signup-btn{
  padding:5px;
  width: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
  background-color: #fdf9b1d0;
}

.login-btn:hover,
.signup-btn:hover{
  opacity:0.6;
}
